@import '../../common.module.scss';

.input_wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1em;
	min-width: 100px;
	@include rubicFont(var(--text-secondary-color), 1em);
	gap: 0.25em;

	.input{
		box-sizing: border-box;
		width: 100%;
		padding: 0.5em 1em;
		transition: box-shadow 0.5s;
		background-color: var(--transparent-primary-color);
		@include primary-border();
		@include rubicFont(var(--text-primary-color), 1.25em);
		&:hover{
			@include box-shadow();
		}
		&:focus-visible {
			outline: none;
			@include box-shadow();
			@include secondary-border()
		}
		&::placeholder{
			color: var(--text-secondary-color);
		}

	}
	.label{ 
		@include montserratFont(var(--border-color), 1em);
		padding-left: 1.5em;
	}

	.errorText{
		position: absolute;
		display: none;
		width: 20rem;
		padding: 0.5rem;
		background-color: var(--primary-color);
		box-shadow: 0px 0px 20px var(--border-primary-color);
		@include primary-border();
		span{
			@include error-text()
		}
	}
	.invalid{
	box-shadow: 0px 0px 15px rgb(170, 7, 7);
	transition: box-shadow 1s i;
	}
	&:hover .errorText {
		display: block;
	}
}
