@import '../../../common.module';

.footer {
   display: flex;
   gap: 15px;
   align-items: center;
   justify-content: center;
   width: min-content;
   margin: 0 auto;

   @include montserratFont(var(--text-primary-color), 1.5em);

   button:hover {
      .icon * {
         fill: var(--text-primary-color);
         stroke: var(--text-primary-color);
      }
   }
}

.triangle_icon_left {
   transform: rotate(270deg);
}

.icon * {
   transition:
      fill 0.3s,
      stroke 0.3s;
}

.body_wrapper {
   position: relative;
}

.body {
   margin: 2rem 0;
}
