@import '../../common.module';

.button {
   display: flex;
   padding: 0.5em;
   background-color: var(--transparent-primary-color);
   cursor: pointer;
   transition:
      box-shadow 0.5s,
      color 0.5s,
      background 0.5s;

   a {
      text-decoration: none;
      transition: color 0.5s;

      @include montserratFont(var(--text-secondary-color), 1em, 600);
   }

   &:hover {
      color: var(--text-primary-color);

      @include box-shadow;
      @include secondary-border;

      a {
         color: var(--text-primary-color);
      }
   }

   &:active {
      background: radial-gradient(circle, rgb(135 135 135 / 56%) 0%, rgb(80 80 80 / 100%) 100%);
   }

   @include montserratFont(var(--text-secondary-color), 1em, 600);
   @include primary-border;
}
