@import '../../common.module';

.form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   box-sizing: border-box;
   width: 400px;
   height: 100%;
   padding: 1em;
   background-color: var(--transparent-primary-color);
   border: none;

   @include secondary-border;
   @include montserratFont(var(--text-primary-color), 1rem);

   @media screen and (width <= 720px) {
      width: 350px;
      background: linear-gradient(
         0deg,
         rgb(104 35 56 / 0%) 1%,
         var(--transparent-primary-color) 99.64%
      );
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      h1 {
         margin: 0 0 0.5em 0.5em;
      }
   }
}
