@import '../../common.module';

.nav {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 10em;
   height: 100vh;
   background: var(--primary-color);
   transition: transform 1s;
   
   @include secondary-border;
   border-left: none;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;

   .nav_head {
      display: flex;
      gap: 1em;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      height: 6em;
      padding: 1em;
      background-color: var(--transparent-primary-color);
      border-bottom: 2.5px solid var(--border-secondary-color);
      border-top-right-radius: 0.8em;

      span {
         @include montserratFont(var(--text-primary-color), 1.5em);

         width: min-content;
      }
   }
}

.nav_hidden {
   transform: translateX(-10em);
}

.nav_link_wapper {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin: auto 0;

   @include rubicFont(var(--text-primary-color), 1.2em);

   .nav_link {
      display: flex;
      gap: 12px;
      align-self: center;
      justify-content: flex-start;
      padding: 10px;
      color: var(--text-primary-color);
      text-decoration: none;
      transition:
         color 0.5s,
         text-shadow 0.5s;

      svg * {
         transition: fill 0.15s;
      }

      &:hover {
         text-shadow: 2px 2px 10px var(--backlight);

         svg * {
            fill: var(--backlight);
         }
      }
   }
}

.nav_buttons_wrapper {
   display: flex;
   flex-direction: column;
   gap: 1em;
   margin: auto 0 1em;

   a {
      text-decoration: none;
   }

   .nav_button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6em;
   }
}

.active {
   color: var(--text-secondary-color);
}

.opened_nav_button {
   position: absolute;
   top: 4.6em;
   right: calc(-2em + 5px);
   padding-left: 10px;

   svg {
      transition: rotate 1s;

      * {
         transition: fill 0.3s;
      }
   }

   .triangle_left {
      rotate: 180deg;
   }

   &:hover svg * {
      fill: var(--text-primary-color);
      stroke: var(--text-primary-color);
   }
}

.profile {
   display: flex;
   flex-direction: column;

   .profile_button {
      @include rubicFont(var(--text-primary-color), 1.2rem);

      display: flex;
      gap: 10px;
      align-self: center;
      padding: 1rem;
      background-color: transparent;
      border: none;
      transition: text-shadow 0.5s;

      svg {
         transition: fill 0.5s;
      }

      &:hover {
         text-shadow: 2px 2px 10px var(--backlight);

         svg {
            fill: var(--backlight);
         }
      }
   }

   .profile_button_active {
      text-shadow: 2px 2px 10px var(--backlight);

      svg * {
         fill: var(--backlight);
      }
   }

   .profile_items {
      padding: 1rem;
      opacity: 0;
      transition: opacity 0.7s;

      @include secondary-border;

      .profile_items_link {
         display: flex;
         gap: 5px;
         text-decoration: none;
         transition:
            color 0.5s,
            text-shadow 0.5s;

         @include rubicFont(var(--text-primary-color), 1.2rem);

         svg * {
            transition: fill 0.15s;
            fill: #8a8c91;
         }

         &:hover {
            text-shadow: 2px 2px 10px var(--backlight);

            svg * {
               fill: var(--backlight);
            }
         }
      }
   }

   .profile_items_opened {
      opacity: 1;
   }
}
