@import '../../common.module';

.error_page_wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.error_page {
   @include primary-border;

   padding: 2em;
   background-color: var(--primary-color);

   .message {
      margin: 0 0 2em;

      h1 {
         width: min-content;
         margin: 0 auto;

         @include error-text;
      }

      span {
         width: min-content;
         margin: 0 auto;

         @include montserratFont(var(--text-primary-color), 1.5em);
      }
   }

   a {
      @include secondary-border;

      padding: 8px;
      text-decoration: none;

      @include montserratFont(var(--text-primary-color), 1.2em);

      transition: text-shadow 0.5s;

      &:hover {
         text-shadow: 0 0 10px var(--backlight);
      }
   }
}
